<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- Título dinâmico -->
    <link rel="stylesheet" href="/stylesheets/login.css"> <!-- Caminho ajustado para servir conteúdo estático -->
</head>
<body>
    <h1>Sistema Unificado de Exames</h1>
    <div class="login-page">
        <div class="form">
          <h2>Login</h2>
          <form action="/login" method="post" class="login-form">
            <input type="text" id="cpf" name="cpf" placeholder="CPF" required/>
            <input type="password" id="senha" name="senha" placeholder="Senha"/>
            <button type="submit">login</button>
          </form>
        </div>
    </div>
    <footer>
      <div class="container">
        <div class="footer-sections">
          <div class="footer-section">
            <h4>Sobre Nós</h4>
            <p>Somos uma plataforma dedicada a oferecer o melhor serviço de cadastramento de exames. Nossa missão é facilitar o acesso à informação de saúde com segurança e eficiência.</p>
          </div>
          <div class="footer-section">
            <h4>Links Úteis</h4>
            <ul>
              <li><a href="#">Termos de Serviço</a></li>
              <li><a href="#">Política de Privacidade</a></li>
              <li><a href="#">Suporte</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h4>Siga-nos</h4>
            <ul class="social-links">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Sistemasdeexames.com - Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>
    <script src="/javascripts/script.js"></script> <!-- Caminho ajustado -->
</body>
</html>
